<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded"> The County Chamber Collective provides the perfect soundtrack for whatever you're looking for. Whether a walk down the aisle, an energetic and spirited performance, or an educational playground, we work with you to bring your vision to life. We blend classical mastery with contemporary flair to create an
atmosphere that feels both timeless and uniquely yours.</p>
                <a href="#portfolio" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
