<section id="audio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading audio-heading">Listen to us play!</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="carousel-container">
        <ul class="carousel">
            <li id="audio-slide-1" class="audio-clip">
                <img src="/img/loveicon.png" width="200" height="200" alt="" aria-hidden="true">
                <audio controls>
                    <source src="/img/portfolio/audio/perfect.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
                <p class="audio-caption">Looking for love? Sounds <cite>Perfect (featuring Beyoncé)</cite></p>
            </li>
            <li id="audio-slide-2" class="audio-clip">
                <img src="/img/movieicon.png" width="200" height="200" alt="" aria-hidden="true">
                <audio controls>
                    <source src="/img/portfolio/audio/hobbits.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
                <p class="audio-caption">If you're a nerd this must be <cite>Concerning Hobbits</cite>!</p>
            </li>
            <li id="audio-slide-3" class="audio-clip">
                <img src="/img/partyicon.png" width="200" height="200" alt="" aria-hidden="true">
                <audio controls>
                    <source src="/img/portfolio/audio/golden.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
                <p class="audio-caption">What's the hottest party theme? <cite>Golden!</cite> (we know your kids love it)</p>
            </li>
        </ul>
    </div>
</section>
