<section>
<h1 style="font-style:bold, underline; color:#0097b2; text-align:center; "><b>Listen to us play! </b></h1>
<div class="carousel-container">
    <ul class="carousel">
        <li id="slide-1">
            <img src="/img/loveicon.png" alt="Heart icon audio">
            <audio controls style="margin: 15px;">
                <source src="/img/portfolio/audio/perfect.mp3" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio><br>
            <p style="text-align:right;">Looking for love? Sounds <i>Perfect (featuring Beyonce)</i></p>
        </li>
        <li id="slide-2">
            <img src="/img/movieicon.png" alt="Movie icon audio">
            <audio controls style="margin: 15px;">
                <source src="/img/portfolio/audio/hobbits.mp3" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
            <p style="text-align:right;">If you're a nerd this must be <i>Concerning Hobbits</i>!</p>
        </li>
        <li id="slide-3">
        <div>
            <img src="/img/partyicon.png" alt="Party icon audio">
            <audio controls style="margin: 15px;">
                <source src="/img/portfolio/audio/golden.mp3" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        <p style="text-align:right;">What's the hottest party theme? <br> <i>Golden!</i> (we know your kids love it) </p>
        </div>
        </li>
    </ul>
</div>
</section>
