<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Ready to start your next project with us? Reach out to one of our members or via Instagram (@countychambercollective) and we will can get your projects rolling!</p>
            </div>

<div class="col-lg-8 col-lg-offset-2 text-center"><a href="https://instagram.com/countychambercollective" target="_blank" class="btn btn-outline">
  <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
    <rect x="2" y="2" width="20" height="20" rx="5" ry="5"/>
    <circle cx="12" cy="12" r="4"/>
    <circle cx="17.5" cy="6.5" r="1" fill="currentColor" stroke="none"/>
  </svg>
  Instagram
</a>

<!-- Email -->
<a href="mailto:you@example.com" class="btn btn-filled">
  <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
    <rect x="2" y="4" width="20" height="16" rx="3"/>
    <polyline points="2,4 12,13 22,4"/>
  </svg>
  Get in touch
</a>
</div>
<div class="carousel-container">
    <ul class="carousel">
        <li id="slide-1">
            <a href="img/members/diana.png" download="img/members/diana.png">
            <img src="/img/members/diana.png" alt="Diana Lam">
            </a>
             <p style="color:#0097b2; font-size:xx-large"><b>Diana Lam</b></p>

        </li>
        <li id="slide-2">
            <a href="img/members/caro.png" download="img/members/Caro.png">
            <img src="/img/members/caro.png" alt="Caro Reiss">
            </a>  
                         <p style="color:#0097b2; font-size:xx-large"><b>Caro Reiss</b></p>
      
        </li>
        <li id="slide-3">
            <a href="img/members/vi.png" download="img/members/vi.png">
            <img src="/img/members/vi.png" alt="Vi Woo">
            </a>  
                         <p style="color:#0097b2; font-size:xx-large"><b>Vi Woo</b></p>
     
        </li>
        <li id="slide-4">
            <a href="img/members/liz.png" download="img/members/liz.png">
            <img src="/img/members/liz.png" alt="Liz Tremblay">
            </a> 
                         <p style="color:#0097b2; font-size:xx-large"><b>Liz Tremblay</b></p>

               </li>
        <li id="slide-5">
            <a href="img/members/kiri.png" download="img/members/kiri.png">
            <img src="/img/members/kiri.png" alt="Kiri-Christina Fill">
            <p style="color:#0097b2; font-size:xx-large"><b>Kiri-Christina Fill</b></p>
        </a>        
        </li>
    </ul>
</div>
<p class="col-lg-8 col-lg-offset-2 text-center" style="opacity:50%;"> Web Design: Vi Woo</p>
 