<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Services</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="/img/piano-icon.png" width="150" height="150" alt="" aria-hidden="true">
                    <h3>Custom Performances</h3>
                    <p class="text-muted">We play what you want to hear! We offer one-on-one consults to customize your experience.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="/img/string-icon.png" width="150" height="150" alt="" aria-hidden="true">
                    <h3>Wedding Packages Available</h3>
                    <p class="text-muted">We can provide duos, trios, or full quartets for your next event!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="/img/clar-icon.png" width="150" height="150" alt="" aria-hidden="true">
                    <h3>Educational Opportunities</h3>
                    <p class="text-muted">Education focused performances are available! Learn more in an engaging setting.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="/img/flute-icon.png" width="150" height="150" alt="" aria-hidden="true">
                    <h3>Professionalism</h3>
                    <p class="text-muted">Our musicians take care of all setup and logistics! Sit back and enjoy the music.</p>
                </div>
            </div>
        </div>
    </div>
</section>
