.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: #7A92A5;
  border-radius: 25px;
  margin: 2rem auto;
  width: 75%;
  color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.contact-container h1 {
  margin-bottom: 1rem;
  text-align: center;
  font-weight: bold;
  font-size: clamp(1rem, 10cqw, 5rem); /* responsive font size to reuse*/
}

.contact-container form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
}

.contact-container input,
.contact-container textarea,
.contact-container button {
  padding: 0.75rem;
  border-radius: 8px;
  font-size: 1rem;
  border: 1px solid #ccc;
}

.contact-container button {
  background-color: #6B705C;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

.email-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.email-form input,
.email-form textarea,
.email-form button {
  padding: 0.75rem;
  border-radius: 8px;
  font-size: 1rem;
  border: 1px solid #ccc;
  background-color: white;
}

.email-form button {
  background-color: #6B705C;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

.concerts-container {
  position: absolute;
  right:0;
  color: white;
  padding: 1rem 2rem;
  background-color: #7A92A5;
  border-radius: 25px;
  padding-right: 30vw;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  font-family: sans-serif;

}

.concerts-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.concerts-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.concert-item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
  background-color: #6B705C;
  border-radius: 25px;
}

.concert-date {
  font-weight: bold;
}

.concert-details {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.concert-link {
  margin-top: 0.5rem;
  text-decoration: none;
  color: white;
  background-color: #6B705C;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-weight: bold;
  width: fit-content;
}

.concerts-empty {
  text-align: center;
  font-style: italic;
  color: #555;
}

.concert-poster {
  width: 100%;
  max-width: 400px;
  max-height: 400px;
  border-radius: 15px;
  margin-bottom: 1rem;
  object-fit:contain;
  display: block;
  border-radius: 25px;
}
