
.stairs.fill {
    display: flex;
  flex-direction: column;
  container-type: inline-size;
  flex: 1 1 auto;

  position: absolute;
  inset: 25px;         

  box-sizing: border-box;
  padding-left: 55px;
  padding-top: 55px;

  overflow-x: clip;
  overflow-y: auto;

  gap: 0;
  line-height: 0.2;
  color: white;

  background-image: url("./groupPhoto.jpeg");
  background-size: contain;
  border-radius: 25px;
}
  


.stair {
  white-space: nowrap;      
  font-size: clamp(1rem, 10cqw, 5rem); /* responsive font size to reuse*/
  display: block;
  background-color: #7A92A5;
  opacity: 0;
  border-radius: 15px;
  padding: 40px;

  /* horizontal and vertical offsets */
  transform: translate(
    calc((var(--i) / var(--count)) * 50%),
    calc(var(--i) * 0.5em)              
  );
  margin-top: -0.2em;  
  animation: stairIn 0.6s ease forwards;
  animation-delay: calc(var(--i) * 0.12s);
  position: relative;
  z-index: calc(var(--count) - var(--i)); 
}

.stair:after {
    content: "";
    position: absolute;
    
}

#subtitle {
  background-color: rgba(245, 245, 244, 0.95);
  margin-top: auto;
  padding: 20px 40px; 
  color: black;
  border-radius: 15px;
  z-index: 9999;
  text-align: center;
  font-size: large;
  font-style: bold;
}

@keyframes stairIn {
  from {
    opacity: 0;
    transform: translate(
      calc((var(--i) / var(--count)) * 50%),
      calc(var(--i) * 0.5em - 6px) 
    );
  }
  to {
    opacity: 1;
    transform: translate(
      calc((var(--i) / var(--count)) * 50%),
      calc(var(--i) * 0.5em)
    );
  }
}
