@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  overflow-x: hidden;
}

:root {
  font-family: "Libre Baskerville";
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(27, 3, 3, 0.87);
  background-color: #6B705C;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#mainContent {
  width: 100%;
  max-width: 100%;
  height: 100dvh; /* mobile-safe */
  margin-top: 30px;

  display: flex;
  flex: 1 1 auto;

  overflow-x: visible;
  overflow-y: visible;

  background-color: #F5F5F4;
  backdrop-filter: blur(15px);

  z-index: -1;
  border-top-left-radius: 50px;
  align-items: center;
}


#bottomNav {
  backdrop-filter: blur(9px);
  border-width: 5px;

  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  
  height: 25vh;

  color: black;
  background-color: #6B705C;

  padding-bottom: env(safe-area-inset-bottom);
}

#bottomNav h1 {
  flex-grow: 6;
  align-content: center;
  text-align: center;
  margin: 25px;
  overflow: auto;
  color: white;
}

#bottomNav img {
  filter: invert(100);
}

#navLinks {
  position: relative;
  margin-top: 55px;

  display: flex;
  flex-direction: row;
  flex-grow: 2;
  flex-shrink: 2;

  background-color: #7A92A5;
  backdrop-filter: blur(10px);

  border-top-left-radius: 25px;
  border-bottom-left-radius: 5px;
  border-color: rgba(255, 255, 255, 0.794);
}

#navLinks:after {
  content: '';
  position: absolute;

  width: 0px;
  height: 100px;
  display: block;

  margin: auto;
  bottom: -100px;
  right: 0;

  background-color: #7A92A5;
  transition: width 0.5s ease;

  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
}

#navLinks:hover:after {
  width: 100vw;
}

#navLinks a {
  color: white;
  text-decoration: none;

  background-color: rgba(103, 0, 0, 0);
  backdrop-filter: blur;

  border-color: rgb(255, 255, 255);
  border-width: 10px;

  align-content: center;
  justify-content: space-between;

  margin-right: 10px;
  margin-left: 10px;

  flex-grow: 1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;

  font-size: 1em;
  font-weight: 500;
  font-family: inherit;

  background-color: #1a1a1a;
  cursor: pointer;

  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
