@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  font-family: "Libre Baskerville";
  line-height: 1.5;
  font-weight: 400;

  display: flex;

  color-scheme: light dark;
  color: rgba(27, 3, 3, 0.87);
  background-color: #A62B44;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#mainContent {
  display: flex;
  height: 100vh;
  width: 91.75vw;
  position: relative;
  background-color: #2BA68D;
  backdrop-filter: blur(15px);
  box-shadow: black;
  border-color:rgba(255, 255, 255, 0.794);
  border-width: thick;
  flex: 1 1 auto;
  padding: 15px;
  z-index: -1;
  border-top-left-radius: 25px;
}

#textMain {
  padding: 50px;
}



#bottomNav {
  backdrop-filter: blur(9px);
  border-bottom: #A62B44;
;
  border-bottom-style: solid;
  border-width: 5px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 20vh;
  width: 96vw;
  color: black;
  background-color: #2BA68D;
  border-bottom-left-radius: 25px;
}
#bottomNav h1 {
  flex-grow: 6;
  align-content: center;
  text-align: center;
  margin: 25px;
  overflow: auto;
}




#navLinks {
  position: relative;
  margin-top: 55px;
  display: flex;
  flex-direction: row;
  flex-grow: 2;
  flex-shrink: 2;
  background-color: #A62B44;
  backdrop-filter: blur(10px);
  border-top-left-radius: 25px;
  border-color:rgba(255, 255, 255, 0.794);
}

#navLinks:after {
  content: '';
  position: absolute;
  width: 0px;
  height: 30px;
  display: block;
  margin: auto;
  bottom: -30px;
  right: 0;
  background-color: #A62B44;
  transition: width 0.5s ease;
  border-bottom-left-radius: 25px;
}

#navLinks:hover:after {
  width: 100vw;
}
#navLinks a {
  color: white;
  text-decoration: none;
  background-color: rgba(103, 0, 0, 0);
  backdrop-filter: blur;
  border-color:rgb(255, 255, 255);
  border-width: 10px;  
  align-content: center;
  margin-right: 10px;
  margin-left: 10px;
  justify-content: space-between;
  flex-grow: 1;
}

/*#navLinks a:hover {
  background-color: rgba(255, 255, 255, 0.441);
  backdrop-filter: blur;
  border-radius: 10px;
  box-shadow: 1px 1px 10px black;
  border-color:rgba(255, 255, 255, 0.794);
  border-width: 10px;
  color: black;
}*/
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
