@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  font-family: "Libre Baskerville";
  line-height: 1.5;
  font-weight: 400;

  display: flex;
  flex-direction: row;

  background-image: url(./assets/treebackground.jpeg);
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  color-scheme: light dark;
  color: rgba(27, 3, 3, 0.87);
  background-color: rgb(105, 138, 124);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#mainContent {
  display: flex;
  height: 100vh;
  width: 65%;
  position: absolute;
  right: 0; top: 5; bottom: 5; 
  background-color: rgba(180, 103, 189, 0.6);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  box-shadow: black;
  border-color:rgba(255, 255, 255, 0.794);
  border-width: thick;
  flex: 1 1 auto;
  padding: 15px;
}

#textMain {
  padding: 50px;
  margin: 50px;
}

#bottomNav h1 {
  flex: 1 1 auto;
  padding: 10px;
  align-content: center;
  text-align: center;
}

#bottomNav {
  background-color: rgba(112, 189, 103, 0.5);
  backdrop-filter: blur(9px);
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(245, 245, 245, 0.336);
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.5);
  border-style: solid;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  width: 25%;
}

#bottomNav img {
  display: block;
  width: 100%;
  height: auto;
}

#bottomNav h1 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: rgba(0, 0, 0, 0)
}
#navLinks {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  flex-shrink: 1;
  margin: 10%;
  padding: 10px;
  border-radius: 5%;
  background-color: rgba(180, 103, 189, 0.6);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 1px 1px 10px white;
  border-color:rgba(255, 255, 255, 0.794);
  border-width: 10px;
  overflow-wrap: break-word;
  justify-content: space-between;
}

#navLinks a {
  color: black;
  text-decoration: none;
  background-color: rgba(103, 0, 0, 0);
  backdrop-filter: blur;
  border-color:rgb(255, 255, 255);
  border-width: 10px;  padding: 16px;
  text-align: center;
  padding-bottom: 25px;
  padding-top: 25px;
  border-radius: 7%;
}

#navLinks a:hover {
  background-color: rgba(103, 0, 0, 0.441);
  backdrop-filter: blur;
  border-radius: 10px;
  box-shadow: 1px 1px 10px black;
  border-color:rgba(255, 255, 255, 0.794);
  border-width: 10px;}

#navContent {
  flex-grow: 3;
  flex-shrink: 1;
  padding: 15px;
  overflow-wrap: break-word;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
